.bedl-setContainer{
	margin-bottom: 1em;
    border-bottom: solid black 1px;
    padding-bottom: 0.5em;
}
.bedl-gameTitle{
 font-weight: bold;
 font-size: 1.25em;
 width: 100%;
 text-align: center;
  padding-bottom: 0.5em;
}

.bedl-match {		 
        padding-bottom: 0.5em;		
		 display: inline-block;
		 width:100%
}

.bedl-centerDivs{
	text-align: center;
}

.bedl-standardInput input{
	min-height: 40px;
	min-width: 40px;
	padding: .3rem;
}

.bedl-standardInput select{
	min-height: 40px;
	min-width: 40px;
	padding: .3rem;
}


.bedl-vs{
    display: inline-block;   
    vertical-align: text-top;
	width: 50px;
}

.bedl-wins{
    display: inline-block;    
    vertical-align: text-top;
	width: 60px;
}

.bedl-playerNameColumnRight{
    display: inline-block;    
    vertical-align: text-top;
	width: 200px;
}

.bedl-playerNameColumnLeft{
    display: inline-block;    
    vertical-align: text-top;
	width: 200px;
}










 
.playerInfo h3 {
        margin: 0 0 0 0;
      }

 .playerInfo {
        margin-bottom: 1em;
        border-bottom: solid black 1px;
        padding-bottom: 0.5em;
      }
	  
	  
	  
	  .additionalNotes {
        margin-top: 1em;
}

.gameInfo, .teamInfo, .playerInfo {
        overflow: hidden;      
} 

.playerTableHeader  {
border-bottom: 1px solid black;
}

.dl-input {
        margin: 0 0 0.5em 0;
	

      }

      .dl-input label {
        display: block;
      }
	  
	  .halfWidth {
        display: inline-block;
        *display: inline;
        width: 49%;
	vertical-align:text-top;
      }
	  
	 

p.instructions {
        margin: 0;
      }
	  
	  
	  
	  .bedl-specialShots {
        margin-bottom: 1em;
        border-bottom: solid black 1px;
        padding-bottom: 0.5em;
      }
	  
	  
.bedl-specialShots h3 {
    margin: 0;
}

/* New form styles */
.bedl-input label {
	display: block;
}

.bedl-repeatingFieldsSet {
	border: 0;
	margin: 0;
	padding: 0;
}

.bedl-inlineInputs .bedl-input {
	display: inline-block;
*display: inline;
zoom: 1;
margin-right: 2em
}

.bedl-listManager.bedl-listManager-expanded, .bedl-listManager.bedl-listManager-collapsed {
	padding-left: 20px;
	position: relative;
}

.bedl-listManager.bedl-listManager-expanded li, .bedl-listManager.bedl-listManager-collapsed li {
	margin-left: 1.5em;
}

.bedl-listManager a.stateModifier {
	display: block;
	height: 20px;
	width: 20px;
	background: red;
	position: absolute;
	left: 0;
}

.bedl-listManager.bedl-listManager-expanded a.stateModifier {
	background: transparent url('./images/list-toggle-expanded.png') no-repeat top left;
}

.bedl-listManager.bedl-listManager-collapsed a.stateModifier {
	background: transparent url('./images/list-toggle-collapsed.png') no-repeat top left;
}

.bedl-listManager.bedl-listManager-collapsed li + li {
	display: none;
}

ol {
   margin: 0;
 padding: 0;
}


ol.bedl-listNone {
    list-style-type: none;
}

